body {
    font-family: system-ui;
    color: white;
    text-align: center;
    background-image: url("https://cdn.shopify.com/s/files/1/0305/4075/9177/products/papel-de-parede-adesivo-degrade-azul-e-rosa-n05171-412071.jpg?v=1643336654");
    background-size: auto 100vh;
    height: 100vh;
  }
  
  .menu {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
    color: teal;
  }
  
  .menu a {
    color: teal;
    font-family: verdana;
    font-size: 25px;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .site-title,
  .site-subtitle {
    text-align: center;
    color: whitesmoke;
  }
  
  .site-subtitle {
    font-syle: italic;
  }
  